.ConsumableFormContainer{

   padding: 5%;
   background-color: #FFFFFF;
   border-radius: 1%;
     /* Override the max-width for form controls within your form */
  .form-control {
    max-width: unset !important;
  }
}
.ConsumableMasterContainer{
  display: flex;
  flex-direction: column;
  height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 1%;
     background-color: #E8F4F9;
}
.ConsumableLabel{
    font-size: larger;
    font-weight: bold;
}
.LessonPlaceholderText{
  min-height: 20vh;
}
.LessonPlaceholderText::placeholder {
  font-size: 16px; 
  color: #CED4DA; 
  
}
.ConsumableFormSelectContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.ConsumableSingleFormSelect{
    width: 70%
}
.ConsumabledragAndDropStyle {
    border: 2px dashed #cccccc;
    padding: .5%;
    text-align: center;
    cursor: pointer;
    
    border-radius: 1%;
  }
  .ConsumableImageDiv {
    width: 50px; /* Set the desired width */
    height: 50px; /* Set the desired height */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  .ConsumabletextUnderImage {
    text-align: center;
  }
  .ConsumableTextAndImageDiv{
    display: flex;
    flex-direction: column;
   align-items: center;
  }
  .ConsumableButtonDiv{
    display: flex;
    justify-content: space-between;
  }
  .ConsumableFormButtonCancel{
    width:25%;
    height: 50px;
   background-color: #FFFFFF !important;
   color: #2E5061 !important; /* Change the text color (red in this example) */
   border-color: #2E5061 !important;
  }
  .ConsumableFormButtonSubmit{
    
    width:25%;
    height: 50px;
    background-color:  #2E5061!important;
    color: #FFFFFF !important; /* Change the text color (red in this example) */
    border-color: #2E5061 !important;
   }
 .ConsumableDragandDropText{
  color: #B0B0B0;
 }
 .ConsumablePriceDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
 }
 .ConsumableCurrencySelect{
  width: 20%
 }
.date-picker-wrapper{
  display: flex;
  align-items: center;
}
.calendar-icon{
  min-width: 10px;
}
.ShippingTaxesDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ConsumableNumberDiv{
  display: flex;
  flex-direction: row;
}
.ConsumableTextarea textarea {
  resize: vertical; /* Allow vertical resizing only */
  min-height: 100px; /* Adjust the minimum height as needed */
}

   @media (max-width: 570px) {
    .ConsumableFormSelectContainer {
      align-items: center;
      flex-direction: column;
    }
    .ConsumableSingleFormSelect{
    
      width: 90%
  }

  .ConsumableFormButtonSubmit{
    
    width:45%;
  
   }

   .ConsumableFormButtonCancel{
    width:45%;
 
  }
  }
  @media (max-width: 650px) {
    .ConsumabledragAndDropStyle {
      height: 100%
    }

  }
  @media (max-width: 800px) {
    .ConsumablePriceDiv{
      display: flex;
      flex-direction: column;
      width: 70%;
     }


  }